.section-one{

}
.section-two{
    position: relative;
    left: 5%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .first{
        border: 1px solid red;
        height: 100%;
        width: 400px;
    }
    .seconde{
        border: 1px solid orange;
        height: 100%;
        width: 150px;
    }
    .third{
        border: 1px solid blue;
        height: 100%;
        width: 400px;
    }
    .forth{
        border: 1px solid green;
        height: 100%;
        width:400px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        button{
            height: 34px;
            width: 34px;
            fill:#FFF;
            border-radius: 50%;
            border: 1px solid white;
        }
    }
}
.section-three{
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        color: #fff;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 190.6%;
    }
}