:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-height: 5382px;
  max-width: 1440px;

  background-color: #000;
}

body {
  background-color: #000;
  color: #fff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
